#page {
    text-align: center;
    font-family: sans-serif;
}

#game {
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#game button {
    border: 1px solid #666;
    border-radius: 10px;
    background: #eee;
    font-size: 30px;
}

#message {
    padding: 10px;
}

#game button:hover, #control a:hover {
    background: steelblue;
    color: white;
}

fieldset {
    border: none;
}