body, div {
    margin: 0px;
    padding: 0px;
}

#page {
    text-align: center;
    font-family: sans-serif;
}

#game {
}

#message {
    padding: 10px;
}

fieldset {
    border: none;
}

#instructions > ul {
    text-align: left;
    width: 300px;
    margin: 20px auto;
}

#instructions ul, #instructions li {
    margin-bottom: 5px;
}

kbd {
    border: 1px solid #333;
    background: #eee;
    border-radius: 2px;
    padding: 2px;
}